ul {
    text-align: right;
    margin: 0px;
    padding-right: 30px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    line-height: 40px;
    cursor: pointer;
    font-weight: bold;
}

h3 {
    line-height: 40px;
    padding: 10px;
    font-weight: bold;
    margin: 0px;
    padding-left: 20px;
}
