<div class="loginForm">
  <h3>VinRa Edu Tab CMS</h3>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12 alertHolder" [ngClass]="{'show':invalidLogin}">
        <div class="alert alert-danger">Invalid Login.</div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" formControlName="email" type="email" name="email"/>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" formControlName="password" type="password" name="password"/>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <img *ngIf="loading" style="padding-right:20px;" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </div>
  </form>
</div>